{% extends 'blog/base.html' %}

{% block conteudo %}

<div class="text-center" style="margin-bottom:0">
  <h1>Rotten Bergamotas</h1>
  <p>Feito com muito carinho para voçê!</p> 
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Sobre mim: </h2>
      <p>Me chamo Guilherme Simões de Oliveira, sou brasileiro e amo cinema!</p>
      <p>Tenho 25 anos perdidos vendo filmes e series, então comecei o RottenBergamotas para expor um pouco o meu pensamento sobre as mais variáveis obras da sétima arte e saber mais sobre a opinião alheia!</p>
      <img src="\..\media\Img\Foto.png" alt="some text" width=300 height=300><br><br>
      <p>"Trabalhamos em empregos que odiamos para comprar porcarias de que não precisamos..."</p>
      <p>(Fight Club)</p>
      <h3>Redes Sociais</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/">Instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/">Twiter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">2021</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Bergamotas Podres</h2>
      <h5>Descrição, Dec 14, 2020</h5>
      <img src="\..\media\Img\Berg.jpg" alt="some text" width=700 height=300><br><br>
      <p>Sobre o Site..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <p>Que muitas e muitas páginas de histórias ainda sejam escritas a partir de onde estamos!</p>
      <button id="hide">Hide</button>
      <button id="show">Show</button>
    </div>
  </div>
</div>
  
{% endblock %}